.files
# TODO: how to do .npmrc partial? - use mackup! because senstive data or not in there at all...? but on per project basis - in case customer no problem
.npmrc
Brewfile.lock.json
.antigen
.antigenrc.zwc
.zcompdump
.zshrc.zwc
antigen.zsh
.node_repl_history
